@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  size: 100%;
  margin: 0;
  color: #0d0d0d;
  background-color: whitesmoke;
  font-family: "Monsterrat", monospace;
}

h2 {
  margin: auto;
  color: #0d0d0d;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: lighter;
}

hr {
  display: block;
  border-style: inset;
  border-width: 2px;
}
.page-title h1 {
  margin: 0;
  padding: 12px;
  font-weight: lighter;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: #0d0d0d;
  color: whitesmoke;
}

.navbar-normal ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  list-style-type: none;
  overflow: hidden;
  background-color: #0d0d0d;
}
.navbar-normal ul li {
  display: inline;
  float: left;
}
.navbar-normal ul li a {
  display: block;
  color: whitesmoke;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
}

.navbar-normal ul li a:hover {
  background-color: #333333;
  font-weight: bold;
}

.navbar-normal ul li a .navbar-button {
  float: right;
}

.profile {
  margin: 0;
  padding: 0;
  padding-inline-start: 10px;
  padding-inline-end: 10%;
  text-align: justify;
  text-justify: inter-word;
}

.profile p {
  padding: 0;
  margin: 0;
}
.profile p a {
  text-decoration: none;
  font-weight: 200;
  color: #0d0d0d;
}

.profile p a:hover {
  font-weight: bolder;
  color: #333333;
}
